.landing-page__main__container {
  display: flex;
  // justify-content: center;
}

.landing-page__main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  justify-content: center;
}

.landing-page__main__hero {
  max-width: 720px;
  text-align: center;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 600;
  }
}


.landing-page__main__sectionone {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  padding-top: 50px;
  row-gap: 20px;
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) -5.2%, rgba(0, 0, 0, .5) 104%), url(https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}